<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="scroll-smooth">
    <h1 class="text-5xl p-10 md:p-20 text-center">About us</h1>
    <div class="w-screen h-fit flex flex-col gap-14 justify-center items-center pl-4 text-wrap md:mb-24">

        
        <div class="h-fit w-5/6 md:w-3/4 flex flex-col justify-center mb-5 p-4 md:p-28 text-wrap"><h2 class="md:text-4xl text-2xl mb-6 md:pl-4">Welcome to Labour's zone – A platform to find all kinds of vocational job!</h2>
        <p class="md:text-lg text-base pl-10">We are passionate to bring a hope of light in Daily wage worker’s life. Our mission is to replace Physical Labour Chowk with Digital Labour Chowk and to fill the gap between Daily Worker and construction companies by providing an innovative solution.</p></div>

        <div class="h-fit w-5/6 md:w-3/4 flex flex-col justify-center mb-5 p-4 md:p-28 text-wrap"><h2 class="md:text-4xl text-2xl mb-6 md:pl-4">Early journey:</h2>
        <p class="md:text-lg text-base pl-10">The early days were filled with challenges and learning opportunities. We started small back 1 month ago, with a dedicated team of 2-3 students working tirelessly to lay the building blocks of our Idea.</p></div>

        <div class="h-fit w-5/6 md:w-3/4 flex flex-col justify-center mb-5 p-4 md:p-28 text-wrap"><h2 class="md:text-4xl text-2xl md:pl-4">USP:</h2>
        <p class="md:text-lg text-base pl-10 py-8">
            <ol class="pl-6 md:text-lg text-base">
                <li class="md:pl-4">We believe in simplicity. Our user-friendly interface ensures that both employee and employer can navigate the platform effortlessly.</li>
                <li class="md:pl-4">Labour's zone promotes collaboration by offering features like discussion forums, group projects, and real-time communication tools to enhance the working experience.</li>
                <li class="md:pl-4">Tailor your learning experience. Educators can personalize courses, and students can choose learning paths that suit their individual needs and preferences.</li>
                <li class="md:pl-4">Stay ahead with cutting-edge tools for assessments, quizzes, and interactive assignments. Labour's zone leverages technology to make learning not just effective but also enjoyable.</li>
            </ol>
        </p></div>

        <div class="h-fit w-5/6 md:w-3/4 flex flex-col justify-center mb-5 p-4 md:p-28 text-wrap"><h2 class="md:text-4xl text-2xl mb-6 md:pl-4">Join the Labour's zone Community:</h2>
        <p class="md:text-lg text-base pl-10">Whether you are an educator passionate about shaping young minds or a learner eager to explore new horizons, Labour's zone welcomes you. Join our community and be part of a journey where learning knows no bounds.</p></div> 
        <a href="/index.html/#contact-us"><button class="bg-blue-600 text-white font-medium text-2xl p-4 px-9 mb-4 rounded shadow hover:opacity-75 hover:scale-110 ease-linear duration-200">Contact us</button></a>
    </div>
</body>
</html>